h1,
h2 {
  color: #0d3147;
}

header ul {
  list-style: none;
}

header img {
  border: 3px solid #0c5280;
}

header img:hover {
  border-color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(129, 89, 3);
  transition: 1s;
}

.tags span {
  border: 1px solid rgb(60, 60, 133);
  padding: 5px 10px;
  color: white;
  border-radius: 9px;
  margin: 2px;
  display: inline-block;
  background-color: rgb(60, 60, 133);
}
.top-hero {
  backdrop-filter: blur(11px) saturate(63%);
  -webkit-backdrop-filter: blur(11px) saturate(63%);
  background-color: rgba(255, 255, 255, 0.34);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.top-container {
  background: url("1.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.progress {
  height: 35px;
  font-size: medium;
}
nav {
  font-family: monospace;
}
body {
  font-family: monospace;
  background: url("playstation-pattern.webp");
}

.text-color {
  color: #000000;
}
